Repository yavin-dev/framework, pull requests merged in 2020-10, with the labels that each got.

#1062 Update: Metric label v2
  packages/core/addon/components/navi-visualization-config/base.ts
  packages/core/addon/components/navi-visualization-config/metric-label.hbs
  packages/core/addon/components/navi-visualization-config/metric-label.js
  packages/core/addon/components/navi-visualization-config/metric-label.ts
  packages/core/addon/components/navi-visualization-config/table.ts
  packages/core/addon/components/navi-visualizations/metric-label.hbs
  packages/core/addon/components/navi-visualizations/metric-label.js
  packages/core/addon/components/navi-visualizations/metric-label.ts
  packages/core/addon/mirage/fixtures/dashboard-widget.js
  packages/core/addon/models/metric-label.js
  packages/core/addon/models/metric-label.ts
  packages/core/addon/models/table.ts
  packages/core/addon/models/visualization.ts
  packages/core/addon/serializers/dashboard-widget.ts
  packages/core/addon/serializers/metric-label.js
  packages/core/addon/serializers/metric-label.ts
  packages/core/addon/serializers/report.ts
  packages/core/addon/serializers/visualization.js
  packages/core/addon/serializers/visualization.ts
  packages/core/addon/utils/enums/number-formats.ts
  packages/core/addon/validators/request-metric-exist.js
  packages/core/addon/validators/request-metric-exist.ts
  packages/core/tests/dummy/app/controllers/metric-label.js
  packages/core/tests/dummy/app/controllers/metric-label.ts
  packages/core/tests/dummy/app/models/all-the-fragments.js
  packages/core/tests/dummy/app/models/all-the-fragments.ts
  packages/core/tests/dummy/app/routes/metric-label.js
  packages/core/tests/dummy/app/routes/metric-label.ts
  packages/core/tests/dummy/app/templates/metric-label.hbs
  packages/core/tests/integration/components/navi-cell-renderers/dimension-test.ts
  packages/core/tests/integration/components/navi-cell-renderers/metric-test.ts
  packages/core/tests/integration/components/navi-cell-renderers/time-dimension-test.ts
  packages/core/tests/integration/components/navi-cell-renderers/total-test.ts
  packages/core/tests/integration/components/navi-visualization-config/metric-label-test.js
  packages/core/tests/integration/components/navi-visualization-config/metric-label-test.ts
  packages/core/tests/integration/components/navi-visualizations/metric-label-test.js
  packages/core/tests/integration/components/navi-visualizations/metric-label-test.ts
  packages/core/tests/unit/models/metric-label-test.js
  packages/core/tests/unit/models/metric-label-test.ts
  packages/core/tests/unit/serializers/metric-label-test.js
  packages/core/tests/unit/serializers/metric-label-test.ts
  packages/core/tests/unit/transforms/moment-test.js
  packages/core/tests/unit/validators/request-metric-exist-test.js
  packages/core/tests/unit/validators/request-metric-exist-test.ts
  packages/dashboards/addon/components/dashboard-filters.js
  packages/dashboards/addon/templates/components/dashboard-filters.hbs
  packages/reports/addon/controllers/reports/report/view.js
Labels: Visualization

#1067 Response methods
  packages/data/addon/adapters/dimensions/bard.ts
  packages/data/addon/adapters/dimensions/elide.ts
  packages/data/addon/adapters/dimensions/interface.ts
  packages/data/addon/models/metadata/column.ts
  packages/data/addon/models/metadata/dimension.ts
  packages/data/addon/models/metadata/metric.ts
  packages/data/addon/models/metadata/time-dimension.ts
  packages/data/addon/models/navi-dimension.ts
  packages/data/addon/models/navi-fact-response.ts
  packages/data/addon/models/navi-facts.ts
  packages/data/addon/serializers/dimensions/bard.ts
  packages/data/addon/serializers/dimensions/elide.ts
  packages/data/addon/serializers/dimensions/interface.ts
  packages/data/addon/serializers/facts/bard.ts
  packages/data/addon/serializers/facts/elide.ts
  packages/data/addon/serializers/facts/interface.ts
  packages/data/addon/services/navi-dimension.ts
  packages/data/tests/unit/adapters/dimensions/elide-test.ts
  packages/data/tests/unit/models/navi-dimension-test.ts
  packages/data/tests/unit/models/navi-fact-response-test.ts
  packages/data/tests/unit/models/navi-facts.js
  packages/data/tests/unit/serializers/dimensions/bard-test.ts
  packages/data/tests/unit/serializers/dimensions/elide-test.ts
  packages/data/tests/unit/serializers/facts/bard-test.ts
  packages/data/tests/unit/serializers/facts/elide-test.ts
  packages/data/tests/unit/services/navi-facts-elide-test.js
  packages/data/tests/unit/services/navi-facts-test.ts
  packages/reports/addon/components/filter-values/dimension-select.ts
Labels: Data

#1071 Update: Add getIntervalForTimeDimension method
  packages/data/addon/models/navi-fact-response.ts
  packages/data/tests/unit/models/navi-fact-response-test.ts
Labels: Data

#1070 Update: Base classes for request-v2 visualizations
  packages/admin/addon/components/navi-new-user-modal.hbs
  packages/core/addon/chart-builders/base.ts
  packages/core/addon/chart-builders/dimension.js
  packages/core/addon/chart-builders/dimension.ts
  packages/core/addon/chart-builders/metric.ts
  packages/core/addon/components/navi-visualization-config/series-chart.hbs
  packages/core/addon/components/navi-visualization-config/series-chart.js
  packages/core/addon/components/navi-visualization-config/series-chart.ts
  packages/core/addon/components/navi-visualization-config/wrapper.hbs
  packages/core/addon/components/navi-visualization-config/wrapper.js
  packages/core/addon/components/navi-visualization-config/wrapper.ts
  packages/core/addon/components/navi-visualizations/chart-builders-base.ts
  packages/core/addon/mixins/components/has-chart-builders.js
  packages/core/addon/mixins/models/chart-visualization.js
  packages/core/addon/models/chart-visualization.ts
  packages/core/addon/models/line-chart.js
  packages/core/addon/models/pie-chart.js
  packages/core/addon/utils/chart-data.ts
  packages/core/app/chart-builders/base.js
  packages/core/app/components/navi-visualizations/chart-builders-base.js
  packages/core/app/models/chart-visualization.js
  packages/core/types/ember-get-config/index.d.ts
  packages/dashboards/types/ember-get-config/index.d.ts
  packages/data/types/ember-get-config/index.d.ts
  packages/directory/types/ember-get-config/index.d.ts
  packages/reports/types/ember-get-config/index.d.ts
  packages/search/types/ember-get-config/index.d.ts
Labels: Visualization

#1078 Fix: Use appropriate filter operator for time dimensions
  packages/reports/addon/consumers/request/filter.ts
  packages/reports/tests/unit/consumers/request/filter-test.js
Labels: hacktoberfest-accepted

#1075 Update: Make getRequestDimensions a property on the request
  packages/core/addon/chart-builders/dimension.ts
  packages/core/addon/models/bard-request-v2/request.ts
  packages/core/addon/models/chart-visualization.ts
  packages/core/addon/utils/chart-data.ts
  packages/core/addon/validators/request-dimension-order.js
  packages/core/tests/unit/models/bard-request-v2/request-test.js
  packages/core/tests/unit/utils/chart-data-test.ts
Labels: hacktoberfest-accepted

#1080 Update: Migrate chart builders to use navi-fact-response
  packages/core/addon/chart-builders/base.ts
  packages/core/addon/chart-builders/date-time.ts
  packages/core/addon/chart-builders/dimension.ts
  packages/core/addon/chart-builders/metric.ts
  packages/core/addon/components/navi-visualizations/line-chart.ts
  packages/core/addon/components/navi-visualizations/table.ts
  packages/core/addon/models/bard-request-v2/fragments/base.ts
  packages/core/addon/models/bard-request-v2/fragments/column.ts
  packages/core/addon/models/bard-request-v2/request.ts
  packages/core/addon/models/chart-visualization.ts
  packages/core/addon/utils/chart-data.ts
  packages/core/addon/utils/data.ts
  packages/core/addon/validators/request-dimension-order.js
  packages/core/tests/dummy/app/routes/line-chart.ts
  packages/core/tests/integration/components/navi-visualizations/line-chart-test.ts
  packages/core/tests/unit/chart-builders/date-test.ts
  packages/core/tests/unit/chart-builders/dimension-test.ts
  packages/core/tests/unit/chart-builders/metric-test.ts
  packages/core/tests/unit/components/navi-visualizations/line-chart-test.ts
  packages/core/tests/unit/utils/chart-data-test.ts
  packages/data/addon/models/navi-fact-response.ts
  packages/data/addon/utils/classes/interval.ts
  packages/data/tests/unit/utils/classes/interval-test.ts
Labels: Visualization

#1087 Update: Visualization manifests to be more lenient
  packages/core/addon/models/bard-request-v2/request.ts
  packages/core/addon/navi-visualization-manifests/bar-chart.ts
  packages/core/addon/navi-visualization-manifests/base.ts
  packages/core/addon/navi-visualization-manifests/goal-gauge.ts
  packages/core/addon/navi-visualization-manifests/line-chart.ts
  packages/core/addon/navi-visualization-manifests/metric-label.ts
  packages/core/addon/navi-visualization-manifests/pie-chart.ts
  packages/core/tests/unit/navi-visualization-manifests/bar-chart-test.ts
  packages/core/tests/unit/navi-visualization-manifests/goal-gauge-test.ts
  packages/core/tests/unit/navi-visualization-manifests/line-chart-test.ts
  packages/core/tests/unit/navi-visualization-manifests/metric-label-test.ts
  packages/core/tests/unit/navi-visualization-manifests/pie-chart-test.ts
Labels: Visualization

#1089 Update: Bar chart for v2
  packages/app/tests/acceptance/print-views-test.js
  packages/core/addon/components/navi-visualization-config/bar-chart.ts
  packages/core/addon/components/navi-visualizations/bar-chart.ts
  packages/core/addon/models/bar-chart.js
  packages/core/addon/models/bar-chart.ts
  packages/core/addon/models/chart-visualization.ts
  packages/core/addon/models/line-chart.ts
  packages/core/addon/serializers/bar-chart.ts
  packages/core/addon/serializers/line-chart.ts
  packages/core/addon/serializers/report.ts
  packages/core/addon/validators/request-filters.ts
  packages/core/app/serializers/bar-chart.js
  packages/core/tests/dummy/app/controllers/bar-chart.ts
  packages/core/tests/dummy/app/models/all-the-fragments.ts
  packages/core/tests/dummy/app/routes/bar-chart.js
  packages/core/tests/dummy/app/routes/bar-chart.ts
  packages/core/tests/dummy/app/templates/bar-chart.hbs
  packages/core/tests/integration/components/navi-visualizations/bar-chart-test.js
  packages/core/tests/integration/components/navi-visualizations/bar-chart-test.ts
  packages/core/tests/unit/models/bar-chart-test.js
  packages/core/tests/unit/models/bar-chart-test.ts
  packages/core/tests/unit/models/pie-chart-test.ts
  packages/core/tests/unit/validators/request-filters-test.js
  packages/core/tests/unit/validators/request-filters-test.ts
  packages/core/tests/unit/validators/request-metrics-test.js
Labels: Visualization

#1091 Elide dimensions
  packages/data/addon/gql/fragments/table.ts
  packages/data/addon/gql/schema.js
  packages/data/addon/mirage/factories/dimension.js
  packages/data/addon/models/metadata/elide/dimension.ts
  packages/data/addon/serializers/metadata/bard.ts
  packages/data/addon/serializers/metadata/base.ts
  packages/data/addon/serializers/metadata/elide.ts
  packages/data/addon/serializers/metadata/interface.ts
  packages/data/addon/services/keg.ts
  packages/data/addon/services/navi-metadata.ts
  packages/data/app/models/metadata/elide/dimension.js
  packages/data/tests/unit/adapters/dimensions/elide-test.ts
  packages/data/tests/unit/adapters/metadata/elide-test.ts
  packages/data/tests/unit/serializers/metadata/bard-test.ts
  packages/data/tests/unit/serializers/metadata/elide-test.ts
  packages/data/tests/unit/services/keg-test.js
  packages/data/tests/unit/services/navi-dimension-test.ts
Labels: Data

#1090 Goal gauge
  .travis.yml
  packages/core/addon/components/navi-visualization-config/goal-gauge.hbs
  packages/core/addon/components/navi-visualization-config/goal-gauge.js
  packages/core/addon/components/navi-visualization-config/goal-gauge.ts
  packages/core/addon/components/navi-visualizations/goal-gauge.hbs
  packages/core/addon/components/navi-visualizations/goal-gauge.js
  packages/core/addon/components/navi-visualizations/goal-gauge.ts
  packages/core/addon/models/goal-gauge.js
  packages/core/addon/models/goal-gauge.ts
  packages/core/addon/serializers/goal-gauge.js
  packages/core/addon/serializers/goal-gauge.ts
  packages/core/addon/serializers/report.ts
  packages/core/tests/dummy/app/controllers/goal-gauge.js
  packages/core/tests/dummy/app/controllers/goal-gauge.ts
  packages/core/tests/dummy/app/models/all-the-fragments.ts
  packages/core/tests/dummy/app/routes/goal-gauge.js
  packages/core/tests/dummy/app/routes/goal-gauge.ts
  packages/core/tests/dummy/app/templates/goal-gauge.hbs
  packages/core/tests/integration/components/navi-visualization-config/goal-gauge-test.js
  packages/core/tests/integration/components/navi-visualization-config/goal-gauge-test.ts
  packages/core/tests/integration/components/navi-visualizations/goal-gauge-test.js
  packages/core/tests/integration/components/navi-visualizations/goal-gauge-test.ts
  packages/core/tests/unit/components/navi-visualizations/goal-gauge-test.js
  packages/core/tests/unit/components/navi-visualizations/goal-gauge-test.ts
  packages/core/tests/unit/models/dashboard-widget-test.js
  packages/core/tests/unit/models/goal-gauge-test.js
  packages/core/tests/unit/models/goal-gauge-test.ts
  packages/core/tests/unit/serializers/goal-gauge-test.js
  packages/core/tests/unit/serializers/goal-gauge-test.ts
Labels: Visualization
