Repository yavin-dev/framework, pull requests merged in 2020-11, with the labels that each got.

#1097 Update: Dimension series always rebuild, better c3 handling
  packages/app/mirage/config.js
  packages/app/mirage/fixtures/metadata-dimensions.js
  packages/app/tests/acceptance/print-views-test.js
  packages/core/addon/chart-builders/base.ts
  packages/core/addon/chart-builders/date-time.ts
  packages/core/addon/chart-builders/dimension.ts
  packages/core/addon/chart-builders/metric.ts
  packages/core/addon/components/navi-vis-c3-chart.js
  packages/core/addon/components/navi-visualizations/line-chart.hbs
  packages/core/addon/components/navi-visualizations/line-chart.ts
  packages/core/addon/components/navi-visualizations/pie-chart.hbs
  packages/core/addon/components/navi-visualizations/pie-chart.ts
  packages/core/addon/models/bar-chart.ts
  packages/core/addon/models/chart-visualization.ts
  packages/core/addon/models/line-chart.ts
  packages/core/addon/models/pie-chart.ts
  packages/core/addon/validators/dimension-series.ts
  packages/core/addon/validators/request-filters.ts
  packages/core/app/validators/dimension-series.js
  packages/core/app/validators/request-filters.js
  packages/core/tests/dummy/app/chart-builders/custom-type.js
  packages/core/tests/integration/components/navi-visualizations/pie-chart-test.ts
  packages/core/tests/unit/chart-builders/date-test.ts
  packages/core/tests/unit/chart-builders/dimension-test.ts
  packages/core/tests/unit/chart-builders/metric-test.ts
  packages/core/tests/unit/components/navi-visualizations/line-chart-test.ts
  packages/core/tests/unit/components/navi-visualizations/pie-chart-test.ts
  packages/core/tests/unit/models/line-chart-test.ts
  packages/core/tests/unit/models/pie-chart-test.ts
  packages/core/tests/unit/validators/dimension-series-test.ts
  packages/core/tests/unit/validators/request-filters-test.ts
Labels: Visualization

#1093 Elide table source
  packages/data/addon/adapters/dimensions/elide.ts
  packages/data/addon/mirage/factories/dimension.js
  packages/data/addon/models/metadata/elide/dimension.ts
  packages/data/addon/serializers/dimensions/elide.ts
  packages/data/tests/unit/adapters/dimensions/elide-test.ts
  packages/data/tests/unit/adapters/metadata/elide-test.ts
  packages/data/tests/unit/serializers/dimensions/elide-test.ts
Labels: Data: Elide

#1098 Elide enums
  packages/data/addon/adapters/dimensions/elide.ts
  packages/data/addon/mirage/factories/dimension.js
  packages/data/addon/models/metadata/elide/dimension.ts
  packages/data/addon/serializers/dimensions/elide.ts
  packages/data/tests/unit/adapters/dimensions/elide-test.ts
  packages/data/tests/unit/adapters/metadata/elide-test.ts
  packages/data/tests/unit/services/navi-dimension-test.ts
Labels: Data: Elide

#1108 Update: Add pie chart serializer
  packages/core/addon/models/pie-chart.ts
  packages/core/addon/serializers/line-chart.ts
  packages/core/addon/serializers/pie-chart.js
  packages/core/addon/serializers/pie-chart.ts
  packages/core/addon/utils/request.ts
  packages/core/tests/unit/serializers/line-chart-test.ts
  packages/core/tests/unit/serializers/pie-chart-test.js
  packages/core/tests/unit/serializers/pie-chart-test.ts
  packages/data/addon/utils/metric.ts
Labels: Visualization

#1095 Update: Use miragejs graphql library rather than ember-cli-mirage-graphql
  packages/admin/package-lock.json
  packages/app/package-lock.json
  packages/core/package-lock.json
  packages/dashboards/package-lock.json
  packages/data/addon/gql/schema.js
  packages/data/addon/mirage/factories/async-query-result.js
  packages/data/addon/mirage/factories/time-dimension.js
  packages/data/addon/mirage/factories/time-zone.js
  packages/data/addon/mirage/handlers/graphql.js
  packages/data/addon/mirage/routes/graphql.js
  packages/data/addon/mirage/scenarios/elide-one.ts
  packages/data/addon/mirage/scenarios/elide-two.ts
  packages/data/package-lock.json
  packages/data/package.json
  packages/directory/package-lock.json
  packages/reports/package-lock.json
  packages/search/package-lock.json
Labels: hacktoberfest-accepted
